<div class="jumbotron">
  <div class="container">
    <div align="center">
      <div align="left" class="bg-white">
        <div class="article-align">
          <div class="row">
            <div class="col-md-6">
              <h3 class="btn btn-primary"><b>Articles</b></h3>
            </div>
            <div align="right" class="col-md-6">
              <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown"> <%=User.find(session[:user_id]).name %>
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a href="/profile">Profile</a></li>
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="list-align">

        <div class="row bg-white article-align">
          <div class="col-sm-6">
            <div align="left" class="article-align"><%= link_to 'New article', new_article_path,{:class=>'btn btn-success'} %></div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="article-align form-group">
                <%= form_tag(articles_path,method: :get) do %>
                <%= text_field_tag :term %>
                <%= submit_tag 'search', class:"btn btn-info btn-sm" %>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="article-align form-group">
                <%= form_tag(articles_path,method: :get) do %>
                <%= text_field_tag :author_name %>
                <%= submit_tag 'search', class:"btn btn-info btn-sm" %>
                <% end %>
              </div>
            </div>
            <div class="col-md-4">
               <div class="article-align form-group">
            <div class="row">
              <div class="col-md-8">
                <%= form_tag(articles_path,method: :get) do %>
                  <%= select_tag(:term1, options_from_collection_for_select(Nationality.all, :id, :country), include_blank: "Select Name", :class=>"form-control" )%>
              </div>
              <div class="col-md-4">
                <%= submit_tag 'search', class:"btn btn-info btn-sm" %>
                <% end %>
              </div>
            </div> 
          </div>  
            </div>
          </div>
          
          
           
        </div>
        <div class="bg-white">
        <div align="center" class="listTable-align">
          <table class="table table-striped table-hover table-bordered">
            <tr>
              <th>Title</th>
              <th>Story</th>
              <th>Author name</th>
              <th>Content</th>
              <th colspan="3">Actions</th>
            </tr>

            <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td><%= article.story %></td>
              <td><%= article.author.name %></td>
              <td align="center">
                <% if article.poster_content_type == "application/pdf" %>
                  <%= link_to "Download pdf", article.poster.url(:original, false), class:"btn btn-info" %>
                <% else %>
                  <%= image_tag article.poster.url, class:"image-size" %>
                <% end %> 
              </td>
              <td>

               <%= link_to 'View', article_path(article),{:class=>'btn btn-success btn-sm'} %>

               <%= link_to 'Edit', edit_article_path(article),{:class=>'btn btn-warning btn-sm'} %>


               <%= link_to 'Delete', '#',{:class=>"btn btn-danger btn-sm", "data-toggle"=>"modal", "data-target" => "#delete-#{article.id}"} %>


               <div class="modal fade" id="delete-<%= article.id %>">

                  <div class="modal-dialog">
                   <div class="modal-content">
                    <div class="modal-header">
                      <h3>Article Delete</h3>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure to delete this article?</p>
                    </div>
                    <div class="modal-footer">
                      <%= link_to 'Delete', article_path(article), method: :delete, :class => 'btn btn-danger btn-sm' %>
                      <%= link_to 'Cancel', articles_path,{:class=>'btn btn-warning btn-sm'} %>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
