<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div>
        <header>
          <div class="header">
            <img src="download.png" height="80" width="80" align="left"/>
              <h1 class="header-h1">
                Source Code Software Co.
              </h1>
          </div>
        </header>
      
      <!--Nav bar-->

      <div class="nav">
        <nav>
            <li><a href="/index">Home</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contactUs">Contact Us</a></li>
              <div class="search">
                <input type="text" class="search-input" placeholder="Seach" align="top" />
                <input type="button" value="search" class="search-btn">
              </div>  
        </nav>
      </div>
      </div>

    <%= yield %>
  </body>

      <footer>
        <div class="footer">
          
            <h1 class="footer-h1" align="center">
              Source Code Software Co.
            </h1>
            <div class="list" align="center">
            <ul>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Branches</a></li>
            </ul>
            </div>
          <h4 align="center">Copy rights reserved upto 2021 by Source Code Software Co. </h4>
        </div>
      </footer>
</html>
